body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  .content {
    background-color: rgba(0, 0, 0, 0.7); /* Optional: to make the text stand out */
    padding: 20px;
    border-radius: 10px;
    color: white;
  }
  
  #confirm-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b52b30;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #confirm-button:hover {
    background-color: #a62793;
  }
  .text-with-image {
    vertical-align: middle;
}